header {
  margin-top: 30px;
  height: 550px;
  position: relative;
  overflow: hidden;
  object-fit: cover;
 width: 100%; 
}
/* aqui va el encabezado*/
.encabezado{
  max-width: 1200px;
  height: 600px;
  margin: auto;
  position: relative;
}
.encabezado div{
  width: 100%;
  height: 100%;
}
.encabezado div img{
  width: 100%;
  height: 80%;
}
.encabezado div .slider{
 
  position: absolute; width: 300px; /* Ajusta el ancho según sea necesario */ 
  height: 100px; /* Ajusta la altura según sea necesario */
   background-color: rgb(154, 114, 114); /* Color de fondo */ 
   bottom: 0; /* Posiciona la caja hija en el fondo del contenedor */
    left: 50%; /* Posiciona la caja hija en el medio horizontal */ transform: translateX(-50%,50%); /* Centra la caja hija horizontalmente */ z-index: 2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.encabezado div .slider .botonSlider{
  width: 100px;
  height: 30px;
  border: none;
  font-size: 1em;
  cursor: pointer;
  border-radius: 10px;
}
@media (min-width: 330px) and (max-width: 600px) {
  .encabezado {
    width: 100%;
    height: 300px;
  }
  .encabezado div .slider {
    position: absolute; 
    width: 300px; /* Ajusta el ancho según sea necesario */
     height: 100px; /* Ajusta la altura según sea necesario */ 
     background-color: rgb(154, 114, 114); /* Color de fondo */ 
     bottom: 0; /* Posiciona la caja hija en el fondo del contenedor */ 
     left: 50%; /* Posiciona la caja hija en el medio horizontal */ 
     transform: translateX(-50%); /* Centra la caja hija horizontalmente */
  }
  .slider h1 {
    font-size: 1.5em;
  }
}

@media (min-width: 601px) and (max-width: 1000px) {
  .encabezado {
    width: 100%;
    height: 500px;
  }
  .encabezado div .slider {
    width: 50%;
  }
  .slider h1 {
    font-size: 1.5em;
  }
}

