.category-carousel{
    position: relative;
    
}

.arrow-D  {
    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
     justify-content: baseline;
     align-items: center;
    width: 100px;
     height: 100px;
}
.arrow-I {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-53%);
    width: 100px;
     height: 100px;
     display: flex;
     justify-content: end;
     align-items: center;
}
.fa-solid{
    display: inline-block;
    font-size: 20px; /* Tamaño del icono */
    color: #fff;
    background-color: red; /* Color de fondo */
    padding: 10px;
    border-radius: 50%; /* Redondeado del icono */
    transition: all 0.3s ease;
   cursor: pointer; 
}
.fa-solid:active{
    font-size: 32px;
}


@media (min-width: 601px) and (max-width: 1024px){
    main{
        width: 100%;
        padding: 1em;    
    }
       
        .categories{
          border: none;
         width: 100%;
        }
        
}
@media (min-width: 340px) and (max-width: 600px){
    main{
    width: 100%;
    }
    .categories{
      border: none;
      padding: 0;
    }
    .arrow-D{
        display: none;
    }
    .arrow-I{
        display: none;
    }
}