.iten{
    width: 70%;
    height: 18%;
    margin-left: 10%;
    display: flex;
    justify-content: baseline;
    gap: 10px;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #f5cd06);
    border: 0.5px solid #ff7e5f;
    cursor: pointer;
   
}
.iten:hover{
    background: linear-gradient(to right, #ff7e5f, #f50606);
    
}
.iten2{
    width: 70%;
    height: 18%;
    margin-right: 10%;
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    background: linear-gradient(to right, #62df027e, #86fe7b);
    border: 0.5px solid #86fe7b;
}
.iten2:hover{
    background: linear-gradient(to right, #ff7e5f, #00f56a);
    
}



.iten img{
    width: 20%;
    height: 70%;
    margin-left: 10px;
}



.iten h3{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    font-size: 1.5em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6)
}
.iten2 img{
    width: 20%;
    height: 70%;
    margin-left: 10px;
}
.iten2 h3{
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    font-size: 1.5em;
    text-shadow: 2px 2px 8px rgba(0, 0, 0, 0.6)
}