
.navbar {
     height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #0e0f0f;
}

.logo {
    width: 10%;
    height: 100%;
    margin-right: 2rem;
}
.perfil-t{
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: baseline;
    font-size: 1.5em;
    color: white;
    font-weight: 900;
}

.nav-button {
    padding: 0.8rem 1.5rem;
    border: none;
    border-radius: 25px;
    background: transparent;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: transform 0.3s;
    margin: 0 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.nav-button:hover {
    transform: translateY(-3px);
}

.social-icons {
    display: flex;
    gap: 1rem;
    width: 50%;
    display: flex;
    justify-content: end;
    padding: 10px;
}

.social-icon {
    color: white;
    font-size: 1.5rem;
    transition: transform 0.3s;
}

.social-icon:hover {
    transform: scale(1.2);
}